<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="my_menu_root" name="Menú desplegable">
        <menuitem id="my_first_level_menu" name="Barra de navegación">
            <menuitem id="my_menu_action" action="martin_action" />
        </menuitem>
    </menuitem>
    <menuitem id="menu_equipos_root" name="Equipos" sequence="50" />
    <menuitem id="menu_equipos_ordenadores" name="Ordenadores"
        parent="menu_equipos_root"
        action="action_pc_computer"
        sequence="10"
        groups="martin_modulo.group_martin_modulo_user,martin_modulo.group_martin_modulo_admin" />
    <menuitem id="menu_equipos_componentes"
        name="Componentes"
        parent="menu_equipos_root"
        action="action_componentes"
        sequence="20"
        groups="martin_modulo.group_martin_modulo_user,martin_modulo.group_martin_modulo_admin" />

</odoo>